[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/michael/Desktop/firefox.desktop]
row=0
col=1

[5eea10e3-2fea-48c5-b07d-4331572f5710]
row=0
col=0

[/]
row=1
col=0

[/home/michael]
row=2
col=0

